.menu-list{
    width: 224px;
    .menu-item{
        color:#fff;
        display: flex;  
        margin-left: 0;
        background-color: rgb(37, 37, 37);
        text-decoration: none;
    }
}


.menu-popper{
    padding-bottom: 8px;
}

.menu-item{
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 600;
    padding:11px 16px;
    line-height: 1.8rem;
    &.separate{
        border-top: 1px solid #fff;
    }
    &:hover{
        background-color: rgba(255, 255, 255, 0.041);
    }
}

.more-btn{
    color:#fff;
    font-size:2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background: transparent;
    cursor: pointer;
}

.header{
    position: relative;
    height:50px;
    margin-top: -8px;
}

.back-btn{
    width: 50px;
    height: 100%;
    background-color:transparent;
    cursor: pointer;
    color: #fff;
}

.header-title{
    position: absolute;
    color:#fff;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

